{{/* layouts/public.tmpl - Public layout per PART 17 */}}
<!DOCTYPE html>
<html lang="en" class="{{.ThemeClass}}">
<head>
  {{template "head" .}}
</head>
<body>
  {{template "header" .}}
  {{template "nav" .}}
  
  <main>
    {{template "content" .}}
  </main>
  
  {{template "footer" .}}
  {{template "scripts" .}}
</body>
</html>
